<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>fish20_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 115}, {294, 128}}</string>
			<key>spriteOffset</key>
			<string>{-11, -4}</string>
			<key>spriteSize</key>
			<string>{294, 128}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 284}, {294, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 118}, {302, 124}}</string>
			<key>spriteOffset</key>
			<string>{-9, -5}</string>
			<key>spriteSize</key>
			<string>{302, 124}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{612, 270}, {302, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 124}, {318, 116}}</string>
			<key>spriteOffset</key>
			<string>{-3, -7}</string>
			<key>spriteSize</key>
			<string>{318, 116}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{612, 510}, {318, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 124}, {330, 112}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{330, 112}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{612, 396}, {330, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 113}, {324, 120}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{324, 120}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 148}, {324, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 117}, {314, 116}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{314, 116}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 394}, {314, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 124}, {316, 110}}</string>
			<key>spriteOffset</key>
			<string>{-4, -4}</string>
			<key>spriteSize</key>
			<string>{316, 110}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 626}, {316, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 127}, {316, 112}}</string>
			<key>spriteOffset</key>
			<string>{-3, -8}</string>
			<key>spriteSize</key>
			<string>{316, 112}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 512}, {316, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 120}, {310, 122}}</string>
			<key>spriteOffset</key>
			<string>{-4, -6}</string>
			<key>spriteSize</key>
			<string>{310, 122}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 270}, {310, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 116}, {298, 128}}</string>
			<key>spriteOffset</key>
			<string>{-9, -5}</string>
			<key>spriteSize</key>
			<string>{298, 128}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 154}, {298, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_catch_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 96}, {330, 146}}</string>
			<key>spriteOffset</key>
			<string>{-1, 6}</string>
			<key>spriteSize</key>
			<string>{330, 146}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 0}, {330, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_catch_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 121}, {312, 144}}</string>
			<key>spriteOffset</key>
			<string>{-10, -18}</string>
			<key>spriteSize</key>
			<string>{312, 144}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{670, 0}, {312, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_catch_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 114}, {328, 122}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{328, 122}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{670, 146}, {328, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish20_catch_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 93}, {336, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 6}</string>
			<key>spriteSize</key>
			<string>{336, 152}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {336, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>fish20</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>fish20</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>