<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>fish12_14.png</key>
		<dict>
			<key>x</key>
			<integer>728</integer>
			<key>y</key>
			<integer>513</integer>
			<key>width</key>
			<integer>261</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>-16</real>
			<key>originalWidth</key>
			<integer>330</integer>
			<key>originalHeight</key>
			<integer>276</integer>
		</dict>
		<key>fish12_15.png</key>
		<dict>
			<key>x</key>
			<integer>728</integer>
			<key>y</key>
			<integer>392</integer>
			<key>width</key>
			<integer>262</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-14.5</real>
			<key>originalWidth</key>
			<integer>330</integer>
			<key>originalHeight</key>
			<integer>276</integer>
		</dict>
		<key>fish12_16.png</key>
		<dict>
			<key>x</key>
			<integer>728</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>265</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-13.5</real>
			<key>originalWidth</key>
			<integer>330</integer>
			<key>originalHeight</key>
			<integer>276</integer>
		</dict>
		<key>fish12_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>908</integer>
			<key>width</key>
			<integer>298</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>12</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>330</integer>
			<key>originalHeight</key>
			<integer>276</integer>
		</dict>
		<key>fish12_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>909</integer>
			<key>width</key>
			<integer>257</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>-9.5</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>330</integer>
			<key>originalHeight</key>
			<integer>276</integer>
		</dict>
		<key>fish12_catch_03.png</key>
		<dict>
			<key>x</key>
			<integer>731</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>275</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>330</integer>
			<key>originalHeight</key>
			<integer>276</integer>
		</dict>
		<key>fish12_catch_04.png</key>
		<dict>
			<key>x</key>
			<integer>732</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>276</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>27</real>
			<key>originalWidth</key>
			<integer>330</integer>
			<key>originalHeight</key>
			<integer>276</integer>
		</dict>
		<key>fish13_01.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>654</integer>
			<key>width</key>
			<integer>364</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_02.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>365</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_03.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>366</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_04.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>366</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_05.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>366</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_06.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>391</integer>
			<key>width</key>
			<integer>365</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_07.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>523</integer>
			<key>width</key>
			<integer>364</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_08.png</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>363</integer>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_09.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>781</integer>
			<key>width</key>
			<integer>363</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_10.png</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>513</integer>
			<key>width</key>
			<integer>363</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>359</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>392</integer>
			<key>width</key>
			<integer>363</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_catch_03.png</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>758</integer>
			<key>width</key>
			<integer>342</integer>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish13_catch_04.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>365</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>431</integer>
		</dict>
		<key>fish10_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>217</integer>
			<key>height</key>
			<integer>186</integer>
			<key>offsetX</key>
			<real>29.5</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>290</integer>
			<key>originalHeight</key>
			<integer>280</integer>
		</dict>
		<key>fish10_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>826</integer>
			<key>width</key>
			<integer>212</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>27</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>290</integer>
			<key>originalHeight</key>
			<integer>280</integer>
		</dict>
	</dict>
</dict>
</plist>