<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>hc_01.png</key>
		<dict>
			<key>x</key>
			<integer>415</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_02.png</key>
		<dict>
			<key>x</key>
			<integer>620</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_03.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_04.png</key>
		<dict>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>376</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_05.png</key>
		<dict>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>283</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_06.png</key>
		<dict>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>189</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_07.png</key>
		<dict>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_08.png</key>
		<dict>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_09.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>313</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_10.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>410</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_11.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>216</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_12.png</key>
		<dict>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_13.png</key>
		<dict>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_14.png</key>
		<dict>
			<key>x</key>
			<integer>415</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_15.png</key>
		<dict>
			<key>x</key>
			<integer>415</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_16.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>gold01.png</key>
		<dict>
			<key>x</key>
			<integer>477</integer>
			<key>y</key>
			<integer>338</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold02.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold03.png</key>
		<dict>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>116</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold04.png</key>
		<dict>
			<key>x</key>
			<integer>188</integer>
			<key>y</key>
			<integer>362</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold05.png</key>
		<dict>
			<key>x</key>
			<integer>949</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold06.png</key>
		<dict>
			<key>x</key>
			<integer>475</integer>
			<key>y</key>
			<integer>401</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold07.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>432</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold08.png</key>
		<dict>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>gold09.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>159</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>bk_01.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_02.png</key>
		<dict>
			<key>x</key>
			<integer>895</integer>
			<key>y</key>
			<integer>53</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_03.png</key>
		<dict>
			<key>x</key>
			<integer>259</integer>
			<key>y</key>
			<integer>468</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_04.png</key>
		<dict>
			<key>x</key>
			<integer>949</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_05.png</key>
		<dict>
			<key>x</key>
			<integer>895</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_06.png</key>
		<dict>
			<key>x</key>
			<integer>782</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_07.png</key>
		<dict>
			<key>x</key>
			<integer>415</integer>
			<key>y</key>
			<integer>275</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_08.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>360</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_09.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>159</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_10.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>293</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_11.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>226</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_12.png</key>
		<dict>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>432</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_13.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_14.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>426</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_15.png</key>
		<dict>
			<key>x</key>
			<integer>415</integer>
			<key>y</key>
			<integer>338</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_16.png</key>
		<dict>
			<key>x</key>
			<integer>723</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_17.png</key>
		<dict>
			<key>x</key>
			<integer>841</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_18.png</key>
		<dict>
			<key>x</key>
			<integer>465</integer>
			<key>y</key>
			<integer>461</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_19.png</key>
		<dict>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>468</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_20.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_21.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>129</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_22.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_23.png</key>
		<dict>
			<key>x</key>
			<integer>841</integer>
			<key>y</key>
			<integer>54</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_24.png</key>
		<dict>
			<key>x</key>
			<integer>987</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>water_1.png</key>
		<dict>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>10</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_2.png</key>
		<dict>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>313</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_3.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>470</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_4.png</key>
		<dict>
			<key>x</key>
			<integer>477</integer>
			<key>y</key>
			<integer>275</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_5.png</key>
		<dict>
			<key>x</key>
			<integer>415</integer>
			<key>y</key>
			<integer>461</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_6.png</key>
		<dict>
			<key>x</key>
			<integer>415</integer>
			<key>y</key>
			<integer>401</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_7.png</key>
		<dict>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>362</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_8.png</key>
		<dict>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>282</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_9.png</key>
		<dict>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_10.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>116</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>water_11.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
	</dict>
</dict>
</plist>