<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>fish17_08.png</key>
		<dict>
			<key>x</key>
			<integer>457</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>453</integer>
			<key>height</key>
			<integer>276</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
		<key>fish17_09.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>452</integer>
			<key>height</key>
			<integer>267</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
		<key>fish17_10.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>551</integer>
			<key>width</key>
			<integer>452</integer>
			<key>height</key>
			<integer>249</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
		<key>fish17_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>452</integer>
			<key>y</key>
			<integer>786</integer>
			<key>width</key>
			<integer>464</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>10</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
		<key>fish17_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>452</integer>
			<key>y</key>
			<integer>548</integer>
			<key>width</key>
			<integer>441</integer>
			<key>height</key>
			<integer>238</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-16</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
		<key>fish17_catch_03.png</key>
		<dict>
			<key>x</key>
			<integer>452</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>455</integer>
			<key>height</key>
			<integer>264</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
		<key>fish17_catch_04.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>457</integer>
			<key>height</key>
			<integer>284</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
	</dict>
</dict>
</plist>