<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>fish17_01.png</key>
		<dict>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>785</integer>
			<key>width</key>
			<integer>449</integer>
			<key>height</key>
			<integer>239</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
		<key>fish17_02.png</key>
		<dict>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>538</integer>
			<key>width</key>
			<integer>451</integer>
			<key>height</key>
			<integer>247</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>-10.5</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
		<key>fish17_03.png</key>
		<dict>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>279</integer>
			<key>width</key>
			<integer>449</integer>
			<key>height</key>
			<integer>259</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
		<key>fish17_04.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>555</integer>
			<key>width</key>
			<integer>446</integer>
			<key>height</key>
			<integer>269</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
		<key>fish17_05.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>279</integer>
			<key>width</key>
			<integer>450</integer>
			<key>height</key>
			<integer>276</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
		<key>fish17_06.png</key>
		<dict>
			<key>x</key>
			<integer>457</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>454</integer>
			<key>height</key>
			<integer>279</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
		<key>fish17_07.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>457</integer>
			<key>height</key>
			<integer>279</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>310</integer>
		</dict>
	</dict>
</dict>
</plist>